*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    margin-block: 30px;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
    position: fixed;
    right: 0.5%;
    

}

 #yash{
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 50px;
    margin: 2px;
}

#intro{
    height: 40%;
    width: 100%;
    background-color: white;
    padding: 25px;
}
#intro h1{
    font-size: 70px;
    line-height: 65px;
    letter-spacing: -5px;
}
#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
#place h3,#placeh4{

    font-size: 30px;
    font-weight: 200;
}
#hero-image{
    height: 87%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}
#about{
    height: 45%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
#about h2{

    width: 65%;
    font-size: 55px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: -3px;


}
#about-part2{
    width: 35%;
    border-left: 2px solid#000;
    padding: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 25px;
    font-weight: 200;
    
}

#icons i{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 10px;
}

.border-bottom{
    height: 45%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 40px;
    border-bottom: 2px solid #000;  
}
#work{
    height: 45%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 40px;
    /* border-bottom: 2px solid #000; */
    


}
#part-1{
    width: 45%;
    height: 100%;
    /* border-right: 2px solid #000; */
    
    
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;
    
}

.border-left{
    margin-top: 300px;
    width: 65%;
    /* height: 100%; */
    padding: 0 50px;
    border-left: 2px solid #000;;
    
}
/* #part2{
    width: 65%;
    height: 100%;
    padding: 0 50px;

} */

.part2work{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    
    
    
}
.part2work:nth-child(1){
    padding-top:0 ;
    border-bottom: 2px solid #000 ;
} 
.part2work .elen{
    width: 50%;
    height: 100%;

}
.part2work .elen:nth-child(1){
    border-right: 2px solid #000 ;
    padding-right: 40px;
}
.part2work .elen:nth-child(2){
    padding-left: 40px;
    
}
.part2work .elen h4{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.part2work .elen p{
    font-size: 15px;
 font-weight: 500;
}